body{
    margin: 0px !important ;
    width: 100vw;
    height: 100vh;
}
.main{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex: 1; 
    background-color: red;
}

.header{
    background-color: aquamarine;

    flex: 1;
    display: flex;
}
.header a{
    background-color: #9CC3D5FF;

    flex: 1;
    align-items: center;
    justify-content: center;
    display: flex;
}

.body{
    background-color: #0063B2FF;

    flex: 4;
}

body h1 {
    color: cornsilk;
    font-family: Arial, Helvetica, sans-serif;
}

#viewTab{
    background-color:#0063B2FF !important;
}

a {
    /* color: #0060B6; */
    text-decoration: none;
}

a:hover 
{
     /* color:#00A0C6;  */
     text-decoration:none; 
     cursor:pointer;  
}

a b{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    
}